<!DOCTYPE html>
<html lang="en">



<head>
    <!--title>@ViewData["Title"] - CloudComputingProject</!--title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Ice cream Website</title>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- lightgallery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <section class="header">

                    <a asp-area="" asp-action="Index" asp-controller="Home" class="logo"> <i class="fas fa-ice-cream"></i> Ice cream </a>

                    <nav class="navbar">
                        <a asp-area="" asp-action="Index" asp-controller="Home">Home</a>
                        <a asp-area="" asp-action="About" asp-controller="Home">About</a>
                        <a asp-area="" asp-action="Menu" asp-controller="Home">Menu</a>
                        <a asp-area="" asp-action="Order" asp-controller="Home">Order</a>
                        <a asp-area="" asp-action="Index" asp-controller="Flavors">Flavors</a>
                        <a asp-area="" asp-action="Index" asp-controller="OrderItems">OrderItems</a>
                        <a asp-area="" asp-action="Index" asp-controller="Products">Products</a>
                        @* <a href="#about">about</a>
                        <a href="#menu">menu</a>
                        <a href="#gallery">gallery</a>
                        <a href="#reviews">reviews</a>
                        <a href="#order">order</a>
                      
                       @*  //קשור לאוטנטיקציה-אפרת לא לגעת!! login! do not change! *@
                            @if (User.Identity.IsAuthenticated)
                            {
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="GetAll">Products</a>
                            </li>
                            }
                            
                           @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="GetAll">Inventory</a>
                            </li>
                        }
                       
                    <partial name="_LoginPartial" />
                    </nav>
                    <div id="menu-btn" class="fas fa-bars"></div>
              
            </section>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer -->
    <section class="footer">

        <div class="icons-container">

            <div class="icons">
                <i class="fas fa-map"></i>
                <h3>address</h3>
                <p>
                    230 Point of the Pines Dr <br>
                    Colorado Springs <br>
                    United States
                </p>
            </div>

            <div class="icons">
                <i class="fas fa-phone"></i>
                <h3>phone</h3>
                <p>+125-847-578</p>
                <p>+125-847-578</p>
            </div>

            <div class="icons">
                <i class="fas fa-envelope"></i>
                <h3>email</h3>
                <a href="#" class="link">ninjashub@gmail.com</a>
            </div>

            <div class="icons">
                <i class="fas fa-clock"></i>
                <h3>opening hours</h3>
                <p>monday - friday: 2:00 - 12:00 <br> Saturday: 2:00 - 11:00</p>
            </div>

        </div>

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>

        <div class="credit">created by <span>ninjashub</span> | all right reserved!</div>

    </section>
    <!-- footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
