<!DOCTYPE html>
<html lang="en">



<head>
	<!--title>@ViewData["Title"] - CloudComputingProject</!--title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Responsive Ice cream Website</title>
	<!-- font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<!-- swiper -->

	<!-- lightgallery -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
	<!-- custom css -->
	@*    
	*@
	
    <link href="~/css/frozen-text.css" rel="stylesheet" />
	<style>
		.content-container {
			display: flex;
			flex-direction: row;
		}

		.footer {
			margin-top: 20px; /* Adjust the margin as needed to push the footer down */
		}
	</style>
</head>
    <body>
        <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
            <div class="container">
                <div class="navbar-translate">
                    <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.example.com">LOGO</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank">
                                <i class="fa fa-twitter"></i>
                                <p class="hidden-lg-up">Twitter</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                                <p class="hidden-lg-up">Facebook</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
                                <i class="fa fa-instagram"></i>
                                <p class="hidden-lg-up">Instagram</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/" target="_blank">
                                <i class="fa fa-github"></i>
                                <p class="hidden-lg-up">GitHub</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.example.com" target="_blank" class="btn btn-danger btn-round">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    @RenderBody()
</body>
</html>
