@model IEnumerable<CloudComputingProject.Models.OrderItem>
@using Microsoft.EntityFrameworkCore;
@using CloudComputingProject.Data;

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .empty-cart {
        font-size: 24px;
        color: #555; /* You can adjust the color to your preference */
        text-align: center;
    }

    .sad-icon {
        font-size: 36px;
    }
</style>

<!-- Set IsCartView in ViewData -->
@{
    ViewData["IsCartView"] = true;
}
<form asp-action="Create" method="post">
    @* <input type="hidden" name="orderTotal" value="@Model.Sum(item => (ViewData["Products"] as List<Product>)?.FirstOrDefault(p => p.Id == item.ProductId)?.Price ?? 0)" /> *@
    <div class="container mt-4">
        @if (Model.Count() != 0)
        {
            <h1>Your Shopping Cart</h1>
            @Html.Partial("_ShoppingCartPartial", Model)
            <div class="checkout-button">
                <h3>Total Price:</h3>
                <h3>$@Model.Sum(item => (ViewData["Products"] as List<Product>)?.FirstOrDefault(p => p.Id == item.ProductId)?.Price ?? 0).ToString("0.00")</h3>
                <a href="@Url.Action("Index","Orders", new { orderTotal = Model.Sum(item => (ViewData["Products"] as List<Product>)?.FirstOrDefault(p => p.Id == item.ProductId)?.Price ?? 0) })" class="btn btn-success">Checkout</a>
            </div>
        }
        else
        {
            <div class="empty-cart">
                <h1>Your Cart Is Empty</h1>
                <img src="~/images/olafSadEmptyCart-.png" style="max-height:190px">
                <a href="@Url.Action("ProductsMenu", "Products")" class="btn btn-success">Back To Menu</a>

            </div>
        }
    </div>
</form>
