@model IEnumerable<CloudComputingProject.Models.OrderItem>
@using Microsoft.EntityFrameworkCore;
@using CloudComputingProject.Data;

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Set IsCartView in ViewData -->
@{
    ViewData["IsCartView"] = true;
}

<div class="container mt-4">
    <h1>Your Shopping Cart</h1>
    @Html.Partial("_ShoppingCartPartial", Model)
    <div class="checkout-button">
        <h3>Total Price: $@Model.Sum(item => (ViewData["Products"] as List<Product>)?.FirstOrDefault(p => p.Id == item.ProductId)?.Price ?? 0).ToString("0.00")</h3>
        <a href="@Url.Action("Create","Orders")" class="btn btn-success">Checkout</a>
    </div>
</div>
