@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<!-- about us -->

<section class="about" id="about">

    <h1 class="heading">About Us</h1>

    <div class="row">

        <div class="image">
            <img src="images/aboutus.png" alt="">
        </div>

        <div class="content">
            <h3>Ayala, Tovi and Efrat</h3>
            <p>We are a team of three passionate B.Sc. Computer Science students who created this site as part of our cloud computing course.</p>

        </div>

    </div>

</section>

<!-- about us -->

