@{
    ViewData["Title"] = "Home Page";
}

<!-- home section -->

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide" style="background: url(images/header-1.png) no-repeat;">
                <div class="content">
                    <h3>do you know how pleasure tastes?</h3>
                    <a asp-area="" asp-action="Menu" asp-controller="Home" class="btn">get started</a>
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url(images/header-2.png) no-repeat;">
                <div class="content">
                    <h3>do you know how pleasure tastes?</h3>
                    <a asp-area="" asp-action="Menu" asp-controller="Home" class="btn">get started</a>
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url(images/header-3.png) no-repeat;">
                <div class="content">
                    <h3>do you know how pleasure tastes?</h3>
                    <a asp-area="" asp-action="Menu" asp-controller="Home" class="btn">get started</a>
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


    </div>

</section>

<!-- home section -->