@{
    ViewData["Title"] = "Home Page";
   
}
<link rel="stylesheet" href="~/css/frozen-text.css" />
<script src="~/js/frozen.js"></script>
<section class="home" id="home">
    <link href="~/css/frozen-text.css" rel="stylesheet" />
    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url(https://ideogram.ai/api/images/direct/NjF3b-O9TYKlI5Kc7diP2g)">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div class="title-brand">
                        <h1 content data-heading="Frozen">
                            Frozen
                        </h1>
                        <div class="fog-low">
                            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                        </div>
                        <div class="fog-low right">
                            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                        </div>
                    </div>

                    <h2 class="presentation-subtitle text-center">Ice Cream & More</h2>
                </div>
            </div>
            <div class="moving-clouds" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png'); ">
            </div>
        </div>
    </div>
