@model CloudComputingProject.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1>Checkout</h1>
    <div class="row">
        <!-- Left column for form inputs -->
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ClientFirstName">First Name</label>
                    <input asp-for="ClientFirstName" class="form-control" />
                    <span asp-validation-for="ClientFirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientLastName">Last Name</label>
                    <input asp-for="ClientLastName" class="form-control" />
                    <span asp-validation-for="ClientLastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City">City</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street">Street</label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="House">House Number</label>
                    <input asp-for="House" class="form-control" />
                    <span asp-validation-for="House" class="text-danger"></span>
                </div>
                <!-- Add form fields for other properties in the Order model -->
                <div class="form-group">
                    <h3 id="total-price">Total Price: $@TempData["Price"]</h3>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <script src="https://www.paypal.com/sdk/js?client-id=AdH-W3YFqF0r0e2ZdfpPB7AIabq4usrFvFHc3BmUxFv1QmuYvXkAL9pZjRAK_GgoujgB7Z5t_LwIxnMG&components=buttons"></script>
        <div id="paypal-button-container" ></div>
 
        
        
        <!-- Right column for shopping cart items -->
        <div class="col-md-6">
            @Html.Partial("_ShoppingCartPartial", ViewBag.OrderItems as IEnumerable<CloudComputingProject.Models.OrderItem>)
        </div>
    </div>
    
</div>
<script>
    paypal.Buttons({
        style: {
            disableMaxWidth: true
        },
        createOrder: function (data, actions) {
    
            var totalPrice = @TempData["Price"];

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: totalPrice
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // Capture the funds from the transaction
            return actions.order.capture().then(function (details) {
                // Call your server to save the transaction
                return fetch('Orders', {
                    method: 'post',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderID: data.orderID
                    })
                });
            });
        }
    }).render('#paypal-button-container');</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
