@page
@model CloudComputingProject.Pages.CheckoutModel
@{
    Layout = "_Layout";
}
    <script src="https://www.paypal.com/sdk/js?client-id=@(Model.PaypalClientId)&currency=USD"></script>
<h2 class="text-center mb5">Complete your order</h2>
<div class="row mb-3">
    <div class="col-5">Delivery Adress</div>
    <div class="col-7">@Model.DeliveryAddress</div>
</div>
<div class="row mb-3">
    <div class="col-5">Total Amount</div>
    <div class="col-7">@(Model.Total)$</div>
</div>
<div class="row mb-3">
    <div class="col-5">Quantity</div>
    <div class="col-7">@(Model.ProductIdentifiers.Split("-").Length)</div>
</div>
<br />
<div id="notification-container"></div>
<div id="paypal-button-container"></div>


<script>
  let paypal_buttons =  paypal.Buttons({
        createOrder() {
            return fetch("/Checkout?handle=Create1", {
                method: "POST"
            })
              
                .then((response) => response.json())
                .then((order) => order.id);
        },
        onApprove(data) {
            paypal_buttons.close();
            // This function captures the funds from the transaction.
            return fetch("/Checkout?handle=CompliteOrder", ", {
                method: "POST",
                body: JSON.stringify({
                    orderID: data.orderID
                })
            })
                .then((response) => response.json())
                .then((details) => {
                    if(details=="success"){
                document.getElementById("notification-container").innerHTML =
                        '<div  class="alert alert-success" role="alert">The order is created successfully!</div>';
                    }
                    else
                    {
                document.getElementById("notification-container").innerHTML =
                            '<div  class="alert alert-danger" role="alert">Failed to create the order!</div>';
                    }
                });
        }, onCancel(data) {
                // Show a cancel page, or return to cart
        document.getElementById("notification-container").innerHTML =
                '<div  class="alert alert-danger" role="alert">Order Canceled!</div>';

        return fetch("/Checkout?handle=CancelOrder", ",{
                    method:"POST",
                    headers:{
                      "Content-Type":"application/jason",
                    },
                    body:JSON.stringify({
                    orderId: data.orderId
                    })
                });
        }, onError(err) {
            // For example, redirect to a specific error page
        document.getElementById("notification-container").innerHTML =
                '<div  class="alert alert-danger" role="alert">Failed to create the order!!!</div>';
        }

       
    });
    .render('#paypal-button-container');
</script>